:root {
    --VeryDarkBlue: hsl(234, 12%, 34%);
    --GrayishBlue: hsl(229, 6%, 66%);
    --VeryLightGray: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    color: var(--VeryDarkBlue);
}

.container {
    max-width: 1440px;
    background-color: var(--VeryLightGray);
}

.wrapper {
    padding-top: 70px;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}

.header-wrapper {
    width: 500px;
    text-align: center;
}

.header-wrapper .light {
    font-size: 31px;
    font-weight: 200;
}

.header-wrapper .bold {
    font-weight: 600;
    font-size: 31px;
}

.header-wrapper p {
    font-size: 13px;
    color: var(--GrayishBlue);
    margin-top: 15px;
}

.content {
	margin: 0 auto;
	max-width: 1140px;
}

.card {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-wrapper {
    width: 235px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 15px;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    /* background-color: #fff;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 30px;
	position: relative;
	overflow: hidden;
	margin: 15px;
	width: 235px; */
}

.card-wrapper::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 100%;
}

.red::after {
	background-color: hsl(0, 78%, 62%);
}

.cyan::after {
	background-color: hsl(180, 62%, 55%);
}

.orange::after {
	background-color: hsl(34, 97%, 64%);
}

.blue::after {
	background-color: hsl(212, 86%, 64%);
}

.box-push {
	transform: translateY(50%);
}

.card-content {
    width: 100%;
    margin-bottom: 30px;
}

.card-content h2 {
    font-size: 16px;
    font-weight: 600;
}

.card-content p {
    font-size: 12px;
    font-weight: 400;
    color: var(--GrayishBlue);
}

img {
    display: block;
    margin-left: auto;
    width: 50px;
    height: 50px;
}

.card-wrapper:hover {
    cursor: pointer;
    position: relative;
    bottom: 5px;
    transition: 0.5s;
    box-shadow: none;
}

@media(max-width: 600px){
    .box-push {
        transform: translateY(0);
    }
}

@media(max-width: 375px){
    .header-wrapper{
        width: 100%;
        margin: 0 20px 0 20px;
    }
}